
.container1{
   gap:20px;
   margin:0 auto;
}
.navbar{
    background-color:rgba(225, 0, 255, 0.308);
    border-radius: 30px;
    
}
  
.navbar ul{
    overflow:auto;
}

.navbar li{
    float: right;
    list-style: none;
    margin: 13px 20px;

}

.navbar li a{
    padding: 2px 2px;
    text-decoration: none;
    color:whitesmoke;

}

.navbar li a:hover{
    color:rgb(80, 78, 78);
}

.box{
    display:flex;
    gap:20px;
    flex-wrap: wrap;
    }
    .card {
        padding: 50px;
        background-color: #fff;
        width: 80%;
        box-shadow: 0 2px 7px rgb(0 0 0 / 20%);
        border-radius: 4px;
        display: flex;
        flex-direction:row;
        cursor: pointer;
        height: 150px;
        margin: auto;
        position: absolute;
        top:162px;
        left:125px;
        justify-items: center;
        border-radius: 20px;
        
    }
.image{
    display: flex;
    flex-wrap: wrap;
    height: 160px;
    width: 164px;
    padding: 20px;
    border-radius: 280px;
}
       
.new{
    display: flex;
    flex-direction: column;
    
}

.container{
    display:flex;
    flex-wrap: wrap;
    position: absolute;
    top: 434px;
}

.card1{
    position:relative;
   
  

    border:solid 3px black;
    padding: 20px;
    background-color: whitesmoke;
    color: #e16259;
    text-transform: capitalize;





}

.card:hover{
    background-color: blueviolet;

}
